[Desktop Entry]
Version=1.0
Type=Application
Name=FireDM
Icon=/usr/share/pixmaps/firedm.png
Path=/usr/bin
Exec=firedm
Comment=Python open source alternative to IDM
Categories=Utility;AudioVideo;Network;
Terminal=false
Keywords=Internet;download;firedm